<div class="container">
  <h2>Contacto</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="emailFrom">Correo electrónico:</label>
      <input
        id="emailFrom"
        type="emailFrom"
        formControlName="emailFrom"
        placeholder="Ejemplo: usuario@example.com"
      />
      <div
        *ngIf="
          contactForm.get('emailFrom')?.invalid &&
          contactForm.get('emailFrom')?.touched
        "
        class="error"
      >
        <small *ngIf="contactForm.get('emailFrom')?.errors?.['required']"
          >El correo es obligatorio.</small
        >
        <small *ngIf="contactForm.get('emailFrom')?.errors?.['emailFrom']"
          >Ingrese un correo válido.</small
        >
      </div>
    </div>

    <div>
      <label for="name">Nombre:</label>
      <input
        id="name"
        type="name"
        formControlName="name"
        placeholder="Ejemplo: Carlos"
      />
      <div
        *ngIf="
          contactForm.get('name')?.invalid && contactForm.get('name')?.touched
        "
        class="error"
      >
        <small *ngIf="contactForm.get('name')?.errors?.['required']"
          >El Nombre es obligatorio.</small
        >
      </div>
    </div>

    <div>
      <label for="subject">Motivo:</label>
      <input
        id="subject"
        type="text"
        formControlName="subject"
        placeholder="Ejemplo: Consulta sobre servicios"
      />
      <div
        *ngIf="
          contactForm.get('subject')?.invalid &&
          contactForm.get('subject')?.touched
        "
        class="error"
      >
        <small>El motivo es obligatorio.</small>
      </div>
    </div>

    <div>
      <label for="message">Mensaje:</label>
      <textarea
        id="message"
        formControlName="message"
        placeholder="Escriba su mensaje aquí..."
      ></textarea>
      <div
        *ngIf="
          contactForm.get('message')?.invalid &&
          contactForm.get('message')?.touched
        "
        class="error"
      >
        <small *ngIf="contactForm.get('message')?.errors?.['required']"
          >El mensaje es obligatorio.</small
        >
        <small *ngIf="contactForm.get('message')?.errors?.['minlength']">
          El mensaje debe tener al menos 10 caracteres.
        </small>
      </div>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">Enviar</button>
  </form>
  <br />
  <div>
    Contacto: nicoecas.96&#64;gmail.com<br />
    Backend:
    <a
      href="https://github.com/Nicoecas/Resume_NicolasCastillo_Backend"
      target="”_blank”"
      >https://github.com/Nicoecas/Resume_NicolasCastillo_Backend</a
    ><br />
    Frontend:
    <a
      href="https://github.com/Nicoecas/Resume_NicolasCastillo_Frontend_Angular"
      target="”_blank”"
      >https://github.com/Nicoecas/Resume_NicolasCastillo_Frontend_Angular</a
    ><br />
  </div>
</div>
